html {
    --colContenido: black;
    --colContenidoFondo: #c7a4ff
    ;
    --colPrimario: #c7a4ff ;
    --colPrimarioFondo:#007ac1  ;
    --colActive: #4646462c;
    --colCampoSinFoco: gray;
    --colCampoFoco: #01579B;
    --colError: #b00020;
    --colCampoFondo: #29b6f6 ;
    --colCampoFondoHover: #000000;
    --colCampoFondoFocus: #67daff;
    --colCheckOn: #0277BD;
    --colCheckFondo: #BDBDBD;
    /* Los 2 primeros fonts son para
     * apple y "Roboto" es para
     * Android. */
    --fontFamily: sans-serif;
    color: var(--colContenido);
    font-family: var(--fontFamily);
    background-color:
      var(--colContenidoFondo);
  }
  